.myModal {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.25);
}


@media (min-width: 376px){
    .myModalContent {
        position: absolute;
        padding: 25px;
        background: white;
        
        width: 400px;
        height: 200px;
        z-index: 5;
    }  
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

@media (max-width: 376px){
    .myModalContent {
        position: absolute;
        padding: 25px;
        background: white;
        
        width: 324px;
        height: 140px;
        z-index: 5;
    }  
}